.title {
  color: #1da1f2;
}
.row {
  margin-bottom: 1rem;
}

.row label {
  display: block;
}
.form {
  border: 1px solid #1da1f2;
  padding: 1rem 5rem;
  border-radius: 0.5rem;
}
.form h2 {
  text-align: center;
}
.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.buttons button {
  border: none;
  outline: none;
  background-color: #1da1f2;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.buttons button:hover,
.buttons button:active {
  background-color: #7ecbfc;
}
